<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2z5zhF9Kya7M1z2sBzxIjJLSwjzL8Y3k</string>
	<key>GCM_SENDER_ID</key>
	<string>161045405457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vizzhy.iottest</string>
	<key>PROJECT_ID</key>
	<string>vizzhydev-2a71b</string>
	<key>STORAGE_BUCKET</key>
	<string>vizzhydev-2a71b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161045405457:ios:08952c4e56254288b9f6b0</string>
</dict>
</plist>